*{margin: 0;padding: 0;}
body{display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; width: 100vw; background: rgb(0, 150, 100);}
input{padding: 5px 10px;width: 230px;height: 25px;margin-bottom: 25px;color: black;outline: none;border: none;background: rgb(240, 255, 103);border-radius: 10px;}
button{padding: 10px 35px;width: 250px;color: rgb(3, 82, 0);background: rgb(240, 255, 103);outline: none;border: none;transition: .25s;font-family: 'Padauk', sans-serif;border-radius: 10px;font-size: 18px;
   box-shadow: 0px 5px 8px 2px rgba(34, 60, 80, 0.2);
}
button:hover{background: rgb(236, 255, 60);outline: none;border: 3px rgb(161, 161, 161) solid;border: none;
   box-shadow: 5px 5px 6px -1px rgba(34, 60, 80, 0.6) inset;
}
.up_paragraph-info{max-width: 500px;display: flex;flex-direction: column;margin: 20px;}
.paragraph-info{font-family: 'Padauk', sans-serif;max-width: 150px;text-align: center;margin-bottom: 5px;}
canvas{border: solid rgb(65, 88, 0);background: rgb(193, 255, 193);}